

.impact{
    font-family: 'Poppins', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navegador{
    margin: 20px;
}

.navegador ul {
    list-style-type: none;
    text-align: center;
}

.navegador li {
    display: inline;
    text-align: justify;
    margin: 0 10px 0 0;
}

h1 {
    font-size: xx-large;
    padding: 10vh;
}

.redes {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    font-size: x-large;
    font-weight: 100;
    padding: 20px;
    list-style-type: none;
}

.pocitos {
    padding: 50px;
    margin: 50px;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color-scheme: white;
    margin: 8px;
}

p,
select,
input,
span {
    font-size: large;
}

table {
    width: 90% !important;
    margin-left: 5%;
}

.image {
    font-size: 24px;
    width: 60px;
    height: 50px;
}

thead {
    font-weight: 800;
    font-size: larger;
}

tbody tr:hover {
    background: white;
}

.button-big-emoji {
    font-size: x-large;
}

.toast-msg {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 46px;
    width: 100%;
    background-color: white;
    color: whitesmoke;
    border-radius: 6px;
}

img{
    width: 100px;
    height: 100px;
}